.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.child-box-1 {
  width: 1000px;
  height: 126px;
  background-color: #61dafb;
}
.child-box-2 {
  width: 800px;
  height: 100px;
  background-color: #2dfac7;
}
.child-box-3 {
  width: 700px;
  height: 80px;
  background-color: rgb(148, 255, 127);
}
.child-box-4 {
  width: 600px;
  height: 60px;
  background-color: rgb(227, 255, 127);
}
.child-box-5 {
  width: 500px;
  height: 40px;
  background-color: rgb(233, 201, 60);
}
